<main class="page-wrapper">
  <section class="container-fluid">
    <div class="row min-vh-100 mt-3 pt-5">
      <aside class="col-lg-2 col-md-4 border-end pb-md-5 mb-md-5">
        <app-profile-sidenav></app-profile-sidenav>
      </aside>
      <div class="offset-lg-1 col-md-8 mb-5 pt-5">
        <h2 class="pt-2">Address</h2>
        <div class="row mt-0">
          <div class="col-12 d-flex align-items-center justify-content-between">
            <button
              class="d-block d-md-none btn btn-link border-dark w-100"
              (click)="openDialog('create')"
            >
              <i class="bi bi-house-add me-2"></i>
              Create new Address
            </button>
          </div>
        </div>
        <div class="row mt-0">
          <div class="col-md-6 address" *ngFor="let address of data">
            <div class="card h-100 mt-3">
              <div class="card-body">
                <h5>
                  {{ address.billingName | titlecase }}
                  <span
                    class="badge bg-faded-success text-success default-badge float-end"
                    *ngIf="address.default"
                    >Default</span
                  >
                </h5>
                <div class="addressData">
                  <h5 class="text-truncate">
                    <span>Address:</span>
                    {{ address.address1 }}, {{ address.address2 }},
                    {{ address.city }}, {{ address.state }}-{{
                      address.postalCode
                    }}
                  </h5>
                </div>
                <div class="addressData">
                  <h5>
                    <span>Phone number:</span>
                    {{ address.mobileNumber }}
                  </h5>
                </div>
                <div class="addressAction">
                  <button
                    type="button"
                    class="btn btn-outline-secondary me-2"
                    (click)="openDialog('update', address.id)"
                  >
                    Edit
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-danger"
                    (click)="openDialog('delete', address.id)"
                  >
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 address addnew">
            <div class="card h-100 mt-3" (click)="openDialog('create')">
              <div class="card-body addnew">
                <p class="btn btn-link m-0">
                  <i class="bi bi-house-add me-2"></i>
                  Create new Address
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
