<main>
    <div class="container">
      <div
        class="row min-vh-100 d-flex justify-content-center align-items-center"
      >
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h3 class="text-center mb-4">Sign in to store</h3>
              <form
                class="form"
                [formGroup]="updateProductForm"
                (ngSubmit)="formSubmit()"
              >
                <div class="form-group mb-3">
                  <label for="username" class="form-label">Username</label>
                  <input
                    class="form-control bg-transparent shadow-none"
                    placeholder="Hey, what's your username?"
                    name="username"
                    id="username"
                    formControlName="username"
                    required
                    [ngClass]="{
                      'is-invalid':
                        updateProductForm.controls['username'].invalid &&
                        updateProductForm.controls['username'].touched,
                      '': updateProductForm.controls['username'].valid
                    }"
                  />
                  <div
                    class="invalid-feedback"
                    *ngIf="(updateProductForm.controls['username'].touched || updateProductForm.invalid) && updateProductForm.controls['username'].errors?.['required']"
                  >
                    Username is required
                  </div>
                  <div
                    class="invalid-feedback"
                    *ngIf="(updateProductForm.controls['username'].touched || updateProductForm.invalid) && updateProductForm.controls['username'].errors?.['minlength']"
                  >
                    Minimum length is 8 characters
                  </div>
                </div>
                <div class="form-group mb-3">
                  <label for="password" class="form-label">Password</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="type your password 🙈"
                      name="password"
                      id="password"
                      formControlName="password"
                      required
                      [ngClass]="{
                        'is-invalid':
                          updateProductForm.controls['password'].invalid &&
                          updateProductForm.controls['password'].touched,
                        '': updateProductForm.controls['password'].valid
                      }"
                    />

                    <div
                      class="invalid-feedback"
                      *ngIf="(updateProductForm.controls['password'].touched 
              || updateProductForm.controls['password'].invalid ) 
              && updateProductForm.controls['password'].errors?.['required']"
                    >
                      This field is required
                    </div>
                    <div
                      class="invalid-feedback"
                      *ngIf="(updateProductForm.controls['password'].touched 
              || updateProductForm.controls['password'].invalid ) 
              && updateProductForm.controls['password'].errors?.['minlength']"
                    >
                      Minimum length is 8 characters
                    </div>
                  </div>
                </div>
                <div class="form-group text-center mb-3">
                  <button
                    type="submit"
                    *ngIf="!submitted"
                    class="btn btn-primary"
                    id="submit"
                  >
                    Login
                  </button>
                  <button
                    type="button"
                    *ngIf="submitted"
                    class="btn btn-primary pe-none"
                  >
                    <span
                      class="spinner-grow spinner-grow-sm me-2"
                      role="status"
                      aria-hidden="true"
                    ></span>
                    <span>logging in you...</span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  