<main>
  <div class="container">
    <div
      class="row min-vh-100 d-flex justify-content-center align-items-center"
    >
      <div class="col-lg-6">
        <div class="card border-0">
          <div class="card-body">
            <h3 class="text-center mb-4">Create a Product</h3>
            <form
              class="form"
              [formGroup]="createProductForm"
              (ngSubmit)="formSubmit()"
            >
              <div class="row">
                <div class="col-6">
                  <div class="form-group mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input
                      type="text"
                      class="form-control bg-transparent shadow-none"
                      name="name"
                      id="name"
                      formControlName="name"
                      (input)="populateNameInputValueToSlug($event)"
                      required
                      [ngClass]="{
                        'is-invalid':
                          createProductForm.controls['name'].invalid &&
                          createProductForm.controls['name'].touched,
                        '': createProductForm.controls['name'].valid
                      }"
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="(createProductForm.controls['name'].touched || createProductForm.invalid) && createProductForm.controls['name'].errors?.['required']"
                    >
                      This field is required
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group mb-3">
                    <label for="slug" class="form-label">Slug</label>
                    <input
                      type="text"
                      class="form-control bg-transparent shadow-none"
                      name="slug"
                      id="slug"
                      formControlName="slug"
                      required
                      readonly
                      [disabled]="true"
                      [ngClass]="{
                        'is-invalid':
                          createProductForm.controls['slug'].invalid &&
                          createProductForm.controls['slug'].touched,
                        '': createProductForm.controls['slug'].valid
                      }"
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="(createProductForm.controls['slug'].touched || createProductForm.invalid) && createProductForm.controls['slug'].errors?.['required']"
                    >
                      This field is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input
                      type="number"
                      class="form-control bg-transparent shadow-none"
                      name="price"
                      id="price"
                      formControlName="price"
                      required
                      [ngClass]="{
                        'is-invalid':
                          createProductForm.controls['price'].invalid &&
                          createProductForm.controls['price'].touched,
                        '': createProductForm.controls['price'].valid
                      }"
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="(createProductForm.controls['price'].touched || createProductForm.invalid) && createProductForm.controls['price'].errors?.['required']"
                    >
                      This field is required
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input
                      type="text"
                      class="form-control bg-transparent shadow-none"
                      name="image"
                      id="image"
                      formControlName="image"
                      required
                      [ngClass]="{
                        'is-invalid':
                          createProductForm.controls['image'].invalid &&
                          createProductForm.controls['image'].touched,
                        '': createProductForm.controls['image'].valid
                      }"
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="(createProductForm.controls['image'].touched || createProductForm.invalid) && createProductForm.controls['image'].errors?.['required']"
                    >
                      This field is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group mb-3">
                    <label for="description" class="form-label"
                      >Description</label
                    >
                    <textarea
                      class="form-control bg-transparent shadow-none"
                      name="description"
                      id="description"
                      formControlName="description"
                      required
                      rows="5"
                      [ngClass]="{
                        'is-invalid':
                          createProductForm.controls['description'].invalid &&
                          createProductForm.controls['description'].touched,
                        '': createProductForm.controls['description'].valid
                      }"
                    ></textarea>

                    <div
                      class="invalid-feedback"
                      *ngIf="(createProductForm.controls['description'].touched || createProductForm.invalid) && createProductForm.controls['description'].errors?.['required']"
                    >
                      This field is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group text-center mb-3">
                <button
                  type="submit"
                  *ngIf="!submitted"
                  class="btn btn-primary"
                  id="submit"
                  [disabled]="!createProductForm.valid"
                >
                  Create Product
                </button>
                <button
                  type="button"
                  *ngIf="submitted"
                  class="btn btn-primary pe-none"
                >
                  <span
                    class="spinner-grow spinner-grow-sm me-2"
                    role="status"
                    aria-hidden="true"
                  ></span>
                  <span>creating...</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
